/*RESET*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* FONT */
*{
    font-family: 'Roboto', sans-serif;
}


/* HEADER */
header{
    background-color: white;
    padding: 10px 20px;
    margin-bottom: 50px;
}
#logo{
    vertical-align: middle;
}
h1{
    display: inline-block;
    vertical-align: middle;
}


/* CORPO CENTRALE */
body{
    
    /* background-color: #F6F8F9; */
    background-color: red;
}
.Container{
    width: 75%;
    margin: 0 auto;
}
.bg-white
{
    background-color: white;
}
.button-container{
    padding: 10px 20px;
    border-bottom: 4px solid #F6F8F9;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
.list-container{
    padding: 50px 20px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}
/* BUTTON UP PAGE */
.Button{
    border: 1px solid lightgray;
    color: lightgray;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: white;
    font-weight: 600;
    font-size: 1em;
}
.ButtonColor{
    color: white;
    background-color: #47adf1;
    border-color: #47adf1;
}

/* BOTTONI DX RIGHE */
.editorial{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: small;
    background-color: #45ABEA;
    color: white;
}
/* SEZIONE 1 */
.Title-List{
    font-size: 1.7em;
    
}
.list{
    padding-left: 15px;
    list-style: none;
}
.check{
    display: inline-block;
    width: 23px;
    height: 23px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    
}
.colorcheck{
    color: green;
    border-color: green;
}
